body {
	background: #FFF;
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.5em;
	margin: 3em auto;
	width: 675px;
	}

a {
	color: #090;
	text-decoration: none;
	}

a,
a:hover,
a:active,
a:visited {
	outline: none;
	}

a:hover {
	background: #7F7;
	color: #060;
	}

h1 a,
h1 a:hover {
	background: #FFF;
	color: #333;
	}

footer {
	border-top: 1px solid #CCC;
	margin-top: 3em;
	}
